body {
  background-color: rgba(250, 250, 250, 1);
  font-family: 'Inter', 'Inter Variable', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  box-sizing: border-box;
}

.light-btn {
  color: rgba(68, 76, 101, 1) !important;
  background-color: white;
}

.dark-btn {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(68, 76, 101, 1);
  border: solid #444c65 1px;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.btn-uploaded {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  display: block;
  background-color: rgba(255, 255, 255, 1);
  line-height: 1.5rem;
  color: rgba(33, 33, 33, 1);
}

.main h1,
.main h2,
.main h3 {
  line-height: 1.25em;
  font-weight: 400;
}

.main h1 {
  margin-top: 0;
  font-size: 2rem;
}

.main h2 {
  margin-bottom: 3rem;
}

.main h3 {
  margin: 0 0 1.5rem;
  font-size: 1.25rem;
}

.main p {
  margin-top: 0;
}

.main table {
  display: block;
  width: 100%;
  margin-top: 3rem;
  overflow: auto;
  border-collapse: collapse;
}

.main table th {
  font-weight: 400;
  text-transform: uppercase;
}

.main thead tr th:first-child {
  min-width: 14.5rem;
}

.main table tr td,
.main table {
  border: 0;
}

.main table tr td,
.main table tr th {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: .75rem;
  vertical-align: text-top;
}

.main table tr:nth-child(2n) {
  background-color: transparent;
}

.main table thead tr th {
  color: #9e9e9e;
}

.main a {
  text-decoration: none;
}

.main a:link,
.main a:visited {
  color: rgb(55, 129, 209);
}

.main a:hover {
  cursor: pointer;
}

.page-title {
  margin-bottom: 4rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 46%;
  border-left: solid 1px black;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.height-card {
  min-height: 17rem;
  min-width: 25rem;
}

.filler {
  flex-grow: 1;
}

.demonstration {
  margin-bottom: 2rem;
}

.rui-wrapper {
  display: none; 
  position: absolute; 
  top: 0px;
  width: 100vw; 
  height: 100vh; 
}

@media screen and (max-width: 428px) {
  .card {
    width: unset;
    margin-bottom: 2rem;
  }
}

/* Improve CTA */
#upload-status {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.sample-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.download-as {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.download-as h2 {
  margin: 0;
}

@media screen and (max-width: 428px) {
  .height-card {
    min-width: unset;
  }
}

/* Predict 3d */
:root {
  --md-filled-select-text-field-input-text-font: system-ui;
  --md-sys-typescale-body-large-font: system-ui;
  --md-filled-select-text-field-container-color: #fff;
}

md-filled-select::part(menu) {
  --md-menu-container-color: #fff;
  --md-menu-container-shape: 0px;
  --md-sys-typescale-body-large-weight: 700;
  --md-sys-color-secondary-container: #444c65;
  --md-menu-item-selected-label-text-color: #fff;
}

.download-csv h2 {
  margin: 0;
}