body {
  background-color: rgba(250, 250, 250, 1);
  font-family: 'Inter', 'Inter Variable', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  box-sizing: border-box;
}

.light-btn {
  color: rgba(68, 76, 101, 1) !important;
  background-color: white;
}

.dark-btn {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(68, 76, 101, 1);
  border: solid #444c65 1px;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.btn-uploaded {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  display: block;
  background-color: rgba(255, 255, 255, 1);
  line-height: 1.5rem;
  color: rgba(33, 33, 33, 1);
}

.main h1,
.main h2,
.main h3 {
  line-height: 1.25em;
  font-weight: 400;
}

.main h1 {
  margin-top: 0;
  font-size: 2rem;
}

.main h2 {
  margin-bottom: 3rem;
}

.main h3 {
  margin: 0 0 1.5rem;
  font-size: 1.25rem;
}

.main p {
  margin-top: 0;
}

.main table {
  display: block;
  width: 100%;
  margin-top: 3rem;
  overflow: auto;
  border-collapse: collapse;
}

.main table th {
  font-weight: 400;
  text-transform: uppercase;
}

.main thead tr th:first-child {
  min-width: 14.5rem;
}

.main table tr td,
.main table {
  border: 0;
}

.main table tr td,
.main table tr th {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: .75rem;
  vertical-align: text-top;
}

.main table tr:nth-child(2n) {
  background-color: transparent;
}

.main table thead tr th {
  color: #9e9e9e;
}

.main a {
  text-decoration: none;
}

.main a:link,
.main a:visited {
  color: rgb(55, 129, 209);
}

.main a:hover {
  cursor: pointer;
}

.page-title {
  margin-bottom: 4rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 46%;
  border-left: solid 1px black;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

#summary .card {
  padding: 20px 0 20px 32px;
}

#uploaded-file,
#organ-selected,
#tool-selected {
  margin: 0;
}

.height-card {
  min-height: 17rem;
  min-width: 25rem;
}

.filler {
  flex-grow: 1;
}

.demonstration {
  margin-bottom: 2rem;
}

.rui-wrapper {
  display: none;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.external-before {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.external-before::before {
  content: url('OPEN_IN_NEW_ICON');
  height: 1.25rem;
  width: 1.25rem;
  filter: invert(93%) sepia(93%) saturate(2%) hue-rotate(55deg) brightness(104%) contrast(100%);
}

@media screen and (max-width: 428px) {
  .card {
    width: 100%;
    margin-bottom: 2rem;
  }
}

/* Improve CTA */
#upload-status {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.sample-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.download-as {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.download-as h2 {
  margin: 0;
}

.predicted-results {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.predicted-results h2 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 428px) {
  .height-card {
    min-width: unset;
  }

  .main .page-title {
    font-size: 1.5rem;
  }

  .main h2 {
    font-size: 1.25rem;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.75rem;
  }

  #upload-status {
    font-size: 0.75rem;
  }

  .btn-uploaded {
    gap: 1rem;
  }

  .predicted-results {
    margin-bottom: 2rem;
  }

  #organ-input {
    margin-bottom: 1rem;
  }
}

/* Predict 3d */
:root {
  --md-filled-select-text-field-input-text-font: system-ui;
  --md-sys-typescale-body-large-font: system-ui;
  --md-filled-select-text-field-container-color: #fff;
}

md-filled-select::part(menu) {
  --md-menu-container-color: #fff;
  --md-menu-container-shape: 0px;
  --md-sys-typescale-body-large-weight: 700;
  --md-sys-color-secondary-container: #444c65;
  --md-menu-item-selected-label-text-color: #fff;
}

.download-csv h2 {
  margin: 0;
}

body.overlay-open {
  overflow: hidden;
}

.eui-image {
  cursor: pointer;
  display: block;
  margin: auto;
}

.eui-wrapper {
  display: none;
  position: fixed;
  inset: 0;
}

.eui-container {
  height: calc(100% - 4rem);
}

body.overlay-open .eui-wrapper {
  display: block;
}

.eui-toolbar {
  width: 100%;
  background-color: #444c65;
  color: white;
}

.back-button {
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 1rem;
  padding: 17.5px 0 17.5px 24px;
  font-size: 1.5rem;
  cursor: pointer;
  width: max-content;
  line-height: 1.8125rem;
}

.back-button img {
  height: 1.5rem;
  width: 1.5rem;
  padding: 2.5px 0;
}

.explore-locations {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.explore-locations h3 {
  margin: 0;
  line-height: 2rem;
}